<main class="container-fluid bg-light">
  <div class="p-5 mb-4 rounded-3 mx-auto">
    <div class="container-fluid mx-auto">
      <h1 class="display-5 fw-bold text-center"><%= title %></h1>
    </div>
  </div>
  <div class="d-block d-lg-inline-flex">
    <div class="fs-5 bg-light bg-gradient px-5 lead">
      <p></p>
      <ul>
        <h1>
          <span class="d-block text-center display-4"
            >Professional Profile</span
          >
        </h1>
        <li>
          Forward-thinking Software Engineer, with experience in environments
          requiring fast learning, collaboration, and multitasking
        </li>
        <li>
          Student of Software Engineering Technology Advanced Diploma with a
          specialization in Artificial Intelligence; Completion of Bachelor of
          Science degree
        </li>
        <li>
          A team player driven to achieve project objectives with efficiency and
          accuracy
        </li>
        <li>
          Able to effectively communicate with both technical/non-technical
          personnel
        </li>
        <li>
          Knowledgeable of both frontend web development and backend
          technologies
        </li>
      </ul>
    </div>
  </div>
</main>
