<body class="bg-dark bg-gradient" style="background-repeat: no-repeat">
  <main class="container text-light mx-auto">
    <div class="fs-5 p-5 lead rounded-3">
      <h1><span class="d-block text-center display-4">Bio</span></h1>
      <hr />
      <p>
        This journey of mine started as with a degree in Biochemistry and
        Molecular Biology. However, while working in the Quality Control field,
        I started learning to program on my own and found drawn to the field. As
        a result, I took a leap to become a Software Developer and I don't have
        a single regret.
      </p>
    </div>
    <div class="fs-5 p-5 lead rounded-3">
      <h1>
        <span class="d-block text-center display-4">Professional Profile</span>
      </h1>
      <hr />
      <ul>
        <li>
          Forward-thinking Software Engineer, with experience in environments
          requiring fast learning, collaboration, and multitasking
        </li>
        <li>
          Student of Software Engineering Technology Advanced Diploma with a
          specialization in Artificial Intelligence; Completion of Bachelor of
          Science degree
        </li>
        <li>
          A team player driven to achieve project objectives with efficiency and
          accuracy
        </li>
        <li>
          Able to effectively communicate with both technical/non-technical
          personnel
        </li>
        <li>
          Knowledgeable of both frontend web development and backend
          technologies
        </li>
      </ul>
    </div>
  </main>

