<!-- Home Page Body -->

<div class="container d-flex bg-light p-5 mb-4 mx-auto">
  <div class="container w-50">
    <h1>Jamaal Bernabe</h1>
    <h6>Software Developer | Web Designer | Software Tester</h6>
    <br />
    <h4>Mission Statement</h4>
    <p>
      As a new software developer, my goal is to provide the best possible
      experience to you and your clients.
    </p>

    <div class="btn">
      <a
        href="./Assets/downloads/Jamaal_Bernabe_Resume.DOCX"
        class="btn btn-primary"
        aria-current="page"
        >Get Resume</a
      >
      <a href="/contact" class="btn btn-primary">Contact Me</a>
    </div>
  </div>

  <div class="container w-100">
    <img
      src="./Assets/images/IMG-20201112-WA0001.jpg"
      class="img-fluid border rounded m-2"
      alt="Jamaal Bernabe Image"
    />
  </div>
</div>
