<main class="container">
      <div class="p-5 mb-4 bg-light rounded-3 mx-auto">
      <div class="container-fluid mx-auto">
        <h1 class="display-5 fw-bold text-center"><%= title %> </h1>
        
      </div>
      </div>
    </main>