<div class="container-fluid bg-light bg-gradient p-0">
  <div class="p-5 pb-1 mb-2 rounded-3 mx-auto">
    <div class="container-fluid mx-auto">
      <h1 class="display-5 fw-bold text-center"><%= title %></h1>
      <p class="text-center">Projects both completed and in progress</p>
    </div>
  </div>
  <div class="d-block bg-secondary">
    <div class="w-75 p-4 mx-auto">
      <h1>Weather & Map</h1>
      <ul>
        <li>Using HTML, CSS, Javascript</li>
        <li>Used Google API and OpenWeather API to display user location</li>
        <li>Allowed user to select Celsius or Fahrenheit for temperature</li>
      </ul>
    </div>
  </div>

  <div class="d-block bg-danger">
    <div class="w-75 p-4 mx-auto">
      <h1>Monster Smasher Game</h1>
      <ul>
        <li>Using HTML, CSS, Javascript</li>
        <li>Used user click and touch inputs to run a game</li>
        <li>User got points for fast clicks and speed increased</li>
      </ul>
    </div>
  </div>

  <div class="d-block bg-dark">
    <div class="w-75 text-light p-4 mx-auto">
      <h1>Body Fat Index Calculator</h1>
      <ul>
        <li>Using .NET, C#, and WPF Forms</li>
        <li>Allows user to enter their weight and height to determine BFI</li>
        <li>Saves user information using CRUD in .XML files</li>
        <li>Provides BFI tables for easy comparison</li>
      </ul>
    </div>
  </div>

  <div class="d-block bg-light">
    <div class="w-75 p-4 mx-auto">
      <h1>Favourites Image Gallery</h1>
      <ul>
        <li>Using HTML, CSS, Javascript</li>
        <li>Displayed a sliding gallery of images</li>
        <li>
          Opened images in another window and allowed user to favourite them
        </li>
        <li>Displayed favourites on original window</li>
      </ul>
    </div>
  </div>

  <div class="d-block bg-primary">
    <div class="w-75 p-4 mx-auto">
      <h1>Basal Metabolic Rate Calculator</h1>
      <ul>
        <li>Using HTML, CSS, Javascript</li>
        <li>Took user input values to determin their BMR</li>
      </ul>
    </div>
  </div>
</div>
